@model KitapMVCInveonOrnek.Models.Kitap

@{
    ViewData["Title"] = "KitapSil";
}

<h1>KitapSil</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SayfaSayisi)
        </dd>
    </dl>
    
    <form asp-action="KitapSil">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
